.jumbotron{
    width: 1903px;
    height: 944px;
    background-image: linear-gradient(101deg, #6814cc, #2772fb);
  
}
// .Mask {
//     width: 468px;
//     height: 516px;
//     border-radius: 9.4px;
//     box-shadow: 0 10px 11px 0 rgba(0, 0, 0, 0.14);
//     background-color: #ffffff;
//   }

.app-body{
    border-radius: 9.4px;
    margin-top: 12%;
}