span{
    color: red
}

.jumbotron{
    width: 1903px;
    height: 944px;
    background-image: linear-gradient(101deg, #6814cc, #2772fb);
  
}

button{
    width: 292px;
    height: 59px;
    border-radius: 8px;
    background-color: #4a90e2;
    margin-left: 24%;
}
.Reset {
    width: 47px;
    height: 24px;
    font-family: SFUIDisplay;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-left: 47%;
  }
  .container-fluid {
    width: 66%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 17%;
  }